/* --- HEADER (Ayla) --- */

/* --- MAIN (Soydan) --- */

/* --- FOOTER (Piotr) --- */
/* --- FOOTER Reset --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* --- FOOTER colors --- */
footer {
    background-color: #f5f5f7;
    color: #6e6e73;
    border-color: #86868b;
    
}
ul>li>a {
    color: #424245;
}
footer>ul>li>a:hover {
    color: #000;
}
/*font sizes */
footer{
    font-size: 0.85rem;
}
/* width adjustment */
.textBlock {
    width: 70%;
    margin: auto;

/*styling addtional information texts*/
}
.ListInfo {
    margin-left: 0;
    padding-left: 15px;
    margin-bottom: 10px;
}
.infoStatements>p {
    margin-bottom: 10px;
}

/*adjusting spacing for Separation Lines*/
.firstLine {
    margin-top: 20px;
    
}
.secondLine {
    margin-top: 10px;
    margin-bottom: 10px;
}
/*styling Footer Directory*/
.footerDirectory {
    display: flex;
    justify-content: space-between;
}
.menuItem {
    font-weight: bold;
    padding-top: 20px; 
    padding-bottom: 10px; 
}
.footerColumn>ul {
    list-style: none;
}
.footerColumn>ul>li {
    padding: 5px;
}
.footerColumn>ul>li>a {
    text-decoration: none;
}
.footerColumn>ul>li>a:hover {
    text-decoration: underline;
}
/*Styling the bottom part of the footer*/


.purchaseInfo {
    margin-top: 30px;
   
}
/*Copyright postioning & styling*/
 
.copyright {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
        
}
.geolocation>a {
    text-decoration: none;
    color: #424245;
}
.geolocation>a:hover {
 text-decoration: underline;
}
.copyright {
    margin-bottom: 10px;
}
/* Styling Legal Menu */
.legalMenuList {
   list-style: none; 
  
}
.legalMenuList>li{
    border-style: solid;
    border-width: 1px;
    border-bottom: 0;
    border-top: 0;
    border-left: 0;
    width: max-content;
    padding-right: 10px;
    padding-left: 10px;
    display: inline;
}
#lastElement {
    border: none;
}
#firstElement {
    padding-left: 0;
}
.legalMenuList>li>a {
    text-decoration: none;
}
.legalMenuList>li>a:hover {
    text-decoration: underline;
}
.legalMenu {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
footer {
    padding-bottom: 30px;
}
@media only screen and (max-width:833px) {
    .secondLine {visibility: hidden;
       }
    .footerDirectory {
        display: block;
        text-align: center;
    }
    .menuItem {
        border-bottom: solid 1px #86868b;
    }
}
 