@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Roboto:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Roboto+Condensed:ital,wght@0,700;1,400&family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --- HEADER (Ayla) --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: " SF Pro Text ", " SF Pro Icons ", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-weight: 200;
  padding-top: 20px;
}
header {
  position: fixed;
  width: 100%;
  height: 40px;
  background-color: rgba(92, 88, 88, 0.8);
  z-index: 999;
  top: 0;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  height: 100%;
  text-align: center;
}

.list {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  letter-spacing: 1px;
  color: #f9f9f9;
  font-size: 20px;
  padding: 15px;
}

.list-content {
  padding: 20px;
  font-size: 12px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

.icon-bag {
  color: white;
  padding: 30px;
}
.list-content > a {
  text-decoration: none;
  color: #f5f5f7;
}

.list-content > a:hover {
  opacity: 0.7;
}

.mobile-nav {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 767px) {
  .list-content {
    display: none;
  }

  .apple {
    display: none;
  }
  .icon-bag {
    display: none;
  }
  .icon-search {
    display: none;
  }
}

@media (min-width: 768px) {
  .mobile-nav {
    display: none;
  }
}
/* --- MAIN (Soydan) --- */

main {
  font-family: "Roboto", sans-serif;
}

.big-section {
  position: relative;
  color: white;
  width: 100%;
  height: 75vh;
  cursor: pointer;
}

.big-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.big-text-container {
  position: absolute;
  top: 3rem;
  left: 0rem;
  right: 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.big-text-container > h2 {
  font-size: 3.75rem;
  margin-bottom: 0.05em;
  font-weight: 600;
}

.big-text-container > h3 {
  font-size: 1.75rem;
  font-weight: lighter;
  margin-bottom: 0.4em;
  gap: 1rem;
}

.big-link-container {
  display: flex;
  gap: 3rem;
}

.big-link-container > a {
  font-size: 1.25rem;
  font-weight: lighter;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

a {
  color: #2997ff;
}

a:hover {
  text-decoration: underline;
}

.dark-text {
  color: #1d1d1f;
}

.messi-text-container {
  position: absolute;
  top: 5rem;
  left: 0rem;
  right: 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.messi-text-container > h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 4rem;
  margin-bottom: 25%;
}

.tiles-section {
  position: relative;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
}

.tile {
  position: relative;
  width: 49.5%;
  height: 70vh;
  cursor: pointer;
  overflow: hidden;
}

.tile-video {
  background-size: cover;
  height: 100%;
}

.tile-text-container {
  position: absolute;
  top: 3rem;
  left: 0rem;
  right: 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tile-text-container > h2 {
  width: 40%;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 0.05em;
  font-weight: 500;
  overflow-wrap: break-word;
}

.tile-text-container > h3 {
  font-size: 1.25rem;
  font-weight: lighter;
  margin-bottom: 0.75em;
  gap: 1rem;
}

.tile-2-text {
  top: 30rem;
}

.tile-2-text > p {
  color: grey;
  margin-bottom: 1rem;
}

.tile-3-text {
  color: white;
}

.tile-3-text > h4 {
  color: rgb(209, 0, 0);
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.tile-links {
  display: flex;
  gap: 2rem;
}

.tile-4-text > h3 {
  width: 30%;
  text-align: center;
  margin-bottom: 0.5em;
  overflow-wrap: break-word;
}

/* --- FOOTER (Piotr) --- */
/* --- FOOTER Reset --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* --- FOOTER colors --- */
footer {
  background-color: #f5f5f7;
  color: #6e6e73;
  border-color: #86868b;
}
ul > li > a {
  color: #424245;
}
footer > ul > li > a:hover {
  color: #000;
}
/*font sizes */
footer {
  font-size: 0.85rem;
}
/* width adjustment */
.textBlock {
  width: 70%;
  margin: auto;

  /*styling addtional information texts*/
}
.ListInfo {
  margin-left: 0;
  padding-left: 15px;
  margin-bottom: 10px;
}
.ListInfo > li {
  padding-bottom: 10px;
}
.infoStatements > p {
  margin-bottom: 10px;
}

/*adjusting spacing for Separation Lines*/
.firstLine {
  margin-top: 20px;
}
.secondLine {
  margin-top: 10px;
  margin-bottom: 10px;
}
/*styling Footer Directory*/
.footerDirectory {
  display: flex;
  justify-content: space-between;
}
.menuItem {
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 10px;
}
.footerColumn > ul {
  list-style: none;
}
.footerColumn > ul > li {
  padding: 5px;
}
.footerColumn > ul > li > a {
  text-decoration: none;
}
.footerColumn > ul > li > a:hover {
  text-decoration: underline;
}
/*Styling the bottom part of the footer*/

.purchaseInfo {
  margin-top: 30px;
}
/*Copyright postioning & styling*/

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.geolocation > a {
  text-decoration: none;
  color: #424245;
}
.geolocation > a:hover {
  text-decoration: underline;
}
.copyright {
  margin-bottom: 10px;
}
/* Styling Legal Menu */
.legalMenuList {
  list-style: none;
}
.legalMenuList > li {
  border-style: solid;
  border-width: 1px;
  border-bottom: 0;
  border-top: 0;
  border-left: 0;
  width: max-content;
  padding-right: 10px;
  padding-left: 10px;
  display: inline;
}
#lastElement {
  border: none;
}
#firstElement {
  padding-left: 0;
}
.legalMenuList > li > a {
  text-decoration: none;
}
.legalMenuList > li > a:hover {
  text-decoration: underline;
}
.legalMenu {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
/*final positioning of the footer*/
footer {
  padding-bottom: 30px;
  padding-top: 20px;
  margin-top: 110px;
}
/*responsiveness */
@media only screen and (max-width: 833px) {
  .secondLine {
    visibility: hidden;
  }
  .footerDirectory {
    display: block;
    text-align: center;
  }
  .menuItem {
    border-bottom: solid 1px #86868b;
  }
}
