/* --- HEADER (Ayla) --- */

/* --- MAIN (Soydan) --- */

/* --- FOOTER (Piotr) --- */
/* --- FOOTER Reset --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* --- FOOTER colors --- */
footer {
    background-color: #f5f5f7;
    color: #6e6e73;
    border-color: #86868b;
    
}
ul>li>a {
    color: #424245;
}
footer>ul>li>a:hover {
    color: #000;
}
/*font sizes */
footer{
    font-size: 0.85rem;
}
/* width adjustment */
.textBlock {
    width: 75%;
    margin: auto;

/*styling addtional information texts*/
}
.ListInfo {
    margin-left: 0;
    padding-left: 15px;
    margin-bottom: 10px;
}
.infoStatements>p {
    margin-bottom: 10px;
}

/*adjusting spacing for Separation Lines*/
.firstLine {
    margin-top: 20px;
    margin-bottom: 20px;
}
.secondLine {
    margin-top: 10px;
    margin-bottom: 10px;
}
/*styling Footer Directory*/
.footerDirectory {
    
    margin-bottom: 20px;
}
/*
.footerDirectoryList>li>ul {
    list-style: none;
    

}
.footerDirectoryList>li {
    list-style: none; 
    display: inline;
    
}
.footerDirectoryList>li>ul>li>a {
 text-decoration: none;
}
.footerDirectoryList>li>ul>li {
    display: inline-block;
    
}
.menuItem{
    font-weight: bold;
}
*/

.PurchaseInfo {
    margin-top: 30px;
}
/*Copyright postioning & styling*/
 
.copyright {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
        
}
.geolocation>a {
    text-decoration: none;
}
.copyright {
    margin-bottom: 10px;
}
/* Styling Legal Menu */
.legalMenuList {
   list-style: none; 
  
}
.legalMenuList>li{
    border-style: solid;
    border-width: 2px;
    border-bottom: 0;
    border-top: 0;
    border-left: 0;
    width: max-content;
    padding-right: 15px;
    display: inline;
}
#lastElement {
    border: none;
}
.legalMenuList>li>a {
    text-decoration: none;
}
.legalMenu {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
footer {
    padding-bottom: 30px;
}

 